---
import {Image} from "astro:assets";
import Logo from '../../images/logo.svg';
import {Logos, Links} from './FooterData';
---

<footer class="p-12 lg:pr-36 lg:pl-36 flex flex-col gap-5 lg:gap-0 lg:flex-row justify-center lg:justify-between items-center">
    <section class="w-full flex justify-center lg:justify-start lg:w-[30%]">
        <Image src={Logo} alt="logo" />
    </section>
    <section id="links" class="w-[45%] flex justify-evenly lg:gap-0 gap-3">
        {Links.map(item => (
                <a class="font-big text-white text-lg cursor-pointer">
                    {item}
                </a>
        ))}
    </section>
    <section id="logos" class="w-[25%] flex gap-4 justify-center lg:justify-end">
        {Logos.map(item => <Image class="w-6 h-6" src={item.src} alt={item.alt} />)}
    </section>
</footer>

<style>
    footer {
      background-color: var(--very-dark-violet);
    }
    footer img {
        filter: brightness(7);
    }
</style>